:root {
  --green: #47bbb8;
  --blue: #5063ae;
  --purple: #7e5aa6;
  --red: #d42251;
  --rich-red: #B12251;
  --white:#fff;
  --silver:#eef3f3;
  --chrome:#ccc;
  --concrete:#7e8892;
  --gray:#4b555f;
}

    html {
    	font-family: 'Work Sans', arial, sans-serif;
		box-sizing: border-box;
		padding:0;
		top:0;
		left:0;
		-webkit-text-size-adjust: 100%;

    }

	*,
	*::before,
	*::after {
	  box-sizing: border-box;
	}

    body {
  		padding:0;
  		margin:0;
  		top:0;
  		left:0;
    }

    .gradient-container {
    	height: auto;
		background:linear-gradient(45deg, var(--green) 15%,var(--blue) 75%,var(--purple) 95%,var(--red) 115%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		background-position: center;
		background-repeat: no-repeat;
    }

    .white-container {
    	background-color:var(--white);

    }

    .grey-container {
    	background-color:var(--silver);

    }

    .green-container {
    	background-color:var(--green);
    }

    .l-wrap {
		max-width: 1140px;
		clear: both;
		margin:0 auto;
	}

	.l-wrap-article {
		display: table;
		clear: both;
		content:'';
		width:100%;
	}

	.grid-item{
	    padding-left: 20px;
	    padding-right: 20px;
	    float: left; 
	}

	.column {
	  width: calc((100% - 40px * 12) / 12);
	  margin-right: 20px;
	  margin-left: 20px;
	  background: var(--white);
	  float:left;
	  height: 200px;
	  margin-top:20px;
	  padding-top:20px;
	}

	.column-bg {
		background-color: var(--green);
		height:240px;
	}

	.l-1col {
		width:100%;
		float:left;
	}

	.signup-col {
		width:100%;
		float:left;
		text-align: center;
	}

	.l-2col {
		width:100%;
		display: inline-block;
		margin-top:20px;
		margin-bottom: 20px;
		border:1px solid var(--green);
	}

	.l-3col {
		width:100%;
		display: inline-block;
		margin-top:20px;
		margin-bottom: 20px;
		border:1px solid var(--green);
	}

	.l-4col {
		width:100%;
		display: inline-block;
		margin-top:20px;
		margin-bottom: 20px;
		border:1px solid var(--green);
	}

	.l-6col {
		width:100%;
		display: inline-block;
		margin-top:20px;
		margin-bottom: 20px;
		border:1px solid var(--green);
	}

	.footer-col {
		width:100%;
		display: inline-block;

	}

	.footer-col img {
		padding-top:10px;
		height:60px;
		width:80px;
	}

	.footer-col ul {
	  list-style-type:none;
	  margin:0;
	  padding:0;
	  background-color: none;
	}

	.footer-col ul li {
	  margin:0;
	  padding:0;
	}

	.footer-col ul li a {
		text-decoration: none;
		color: var(--blue);
		line-height: 150%;
		font-size:1em;
	}

	.footer-col ul li a:hover {
		color: var(--green);
	}

	.footer-base-col {
		width:100%;
		margin-top:20px;
		margin-bottom: 20px;
		text-align: left;
	}

	.footer-base-col img {
		width:24px;
		margin-right:20px;
		float:left;
	}


	.logo {
		width: 25%;
		height: 80px;
	  	display: inline-block;
	}

	.logo img {
		height:80px;
		width:100px;
	}

	.links {
		height: 80px;
		width: 75%;
		display: inline-block;
		text-align: right;
	}

	.links ul li {
	  display:inline-block;
	  padding-left:40px;
	}

	.links ul li a {
	  color: var(--white);
	  text-decoration: none;
	  font-size:1em;
	}

	.links ul li a:hover {
	  border-bottom:2px solid var(--green);
	  color: var(--green);
	  padding-bottom:10px;
	}

	.links input[type="submit"] {
	  display: inline;
	  font-size:1em;
	  font-family: 'Work Sans', sans-serif;
	  font-weight: 300;
	  letter-spacing: 0.02em;
	  color: var(--white);
	  border:2px solid var(--green);
	  background:none;
	  appearance: none;
	  box-shadow: none;
	  border-radius: 5px;
	  padding:10px;
	  -webkit-transition-duration: 0.4s; /* Safari */
	  transition-duration: 0.4s;
	}

	button { 
	  font-size:1em;
	  font-family: 'Work Sans', sans-serif;
	  font-weight: 300;
	  letter-spacing: 0.02em;
	  color: var(--white);
	  background:var(--red);
	  appearance: none;
	  box-shadow: none;
	  border-radius: 5px;
	  padding:15px;
	  text-align: center;
	  border:0;
	  -webkit-transition-duration: 0.4s; /* Safari */
	  transition-duration: 0.4s;
	  margin-top:20px;
	  margin-bottom:40px;
	}

	button:hover {
	  background: var(--rich-red);
	}

	.white {
		color: var(--white);
	}
	.blue {
		color: var(--blue);
	}
	.green {
		color: var(--green);
	}
	.purple {
		color: var(--purple);
	}
	.red {
		color: var(--red);
	}
	.rich-red {
		color: var(--rich-red);
	}
	.silver {
		color: var(--silver);
	}
	.chrome {
		color: var(--chrome);
	}
	.concrete {
		color: var(--concrete);
	}
	.gray {
		color: var(--gray);
	}

	a {
		color: var(--blue);
		text-decoration: none;
	}

	a:hover {
		color: var(--green);
	}

	.signup input {
		width: 100%;
	}

	@media (min-width: 320px) {

	    .l-1col {
			width: calc((12/12)*100%);
			float:left;
			margin-bottom: 20px;
		}

		.signup-col {
			width: calc((12/12)*100%);
			float:left;
			margin-bottom: 20px;
		}

		.l-2col {
			width: calc((12/12)*100%);
			float:left;
		}

		.l-3col {
			width: calc((12/12)*100%);
			float:left;
		}

		.l-4col {
			width: calc((12/12)*100%);
			float:left;
		}

		.l-6col {
			width: calc((6/12)*100%);
			float:left;
		}

		.footer-col {
			width: calc((6/12)*100%);
			float:left;
			margin-top:20px;
			margin-bottom: 0;
			min-height:12em;
		}

		.footer-base-col {
			width: calc((12/12)*100%);
			float:left;
		}

		.footer-base-col img {
			width:24px;
			margin-left:10px;
			float:left;
		}


		.logo {
			width: calc((4/12)*100%);
			float:left;
			height: 60px;
		}

		.links {
			width: calc((8/12)*100%);
			float:left;
			height: 60px;
		}

		.logo img {
			height:60px;
			width:80px;
		}

		input {
			font-family: 'Work Sans', sans-serif;
		}

		.signup input[type="text"] {
			width: 100%;
			font-size:1em;
			color: var(--gray);
			appearance: none;
			box-shadow: none;
			border-radius: 5px;
			border:1px solid var(--chrome);
			padding:10px;

		}
		.signup input[type="submit"] {
			width: 100%;
			font-size:1em;
			letter-spacing: 0.02em;
			background: var(--red);
			appearance: none;
			box-shadow: none;
			border-radius: 5px;
			border:1px solid var(--red);
			padding:10px;
			color: var(--white);
			margin-top:10px;
			-webkit-transition-duration: 0.2s; /* Safari */
			transition-duration: 0.2s;
			margin-bottom:20px;
		}

		.signup input[type="submit"]:hover {
			background: var(--rich-red);
		}

		h1 {
	    	font-size:1.75em;
	    	font-weight:700;
	    	line-height: 125%;
	    }

	    h2 {
	    	font-size:1.5em;
	    	font-weight:400;
	    	letter-spacing: -0.02em;
	    	line-height: 125%;
	    }

	    h3 {
	    	font-size:1.25em;
	    	font-weight:600;
	    	letter-spacing: -0.02em;
	    	line-height: 150%;
	    }

	    h4 {
	    	text-transform: uppercase;
	    	font-size:1em;
	    	font-weight:600;
	    	letter-spacing: 0.25em;
	    	line-height: 150%;
	    }

	    h5 {
	    	text-transform: uppercase;
	    	font-size:1em;
	    	font-weight:400;
	    	letter-spacing: 0.25em;
	    	line-height: 150%;
	    }

	    h6 {
	    	font-size:0.8em;
	    	text-transform: uppercase;
	    	font-weight: 600;
	    	line-height: 150%;
	    	margin-bottom: 0;
	    } 	

	    blockquote {
	    	font-size:1.25em;
	    	margin:0;
	    	line-height: 150%;
	    }

	    p {
	    	font-size: 1em;
	    	font-weight: 400;
	    	line-height: 150%;
	    }

	    small {
	    	font-size:0.75em;
	    	font-weight: 400;
	    	line-height:150%;
	    }
	}

    @media (min-width: 500px) {

    	.l-1col {
			width: calc((12/12)*100%);
			float:left;
		}

		.signup-col {
			width: calc((12/12)*100%);
			float:left;
		}

		.l-2col {
			width: calc((12/12)*100%);
			float:left;
		}

		.l-3col {
			width: calc((12/12)*100%);
			float:left;
		}

		.l-4col {
			width: calc((6/12)*100%);
			float:left;
		}
		.l-6col {
			width: calc((4/12)*100%);
			float:left;
		}
		.footer-col {
			width: calc((4/12)*100%);
			float:left;
			min-height:15em;
		}
		.footer-base-col {
			width: calc((12/12)*100%);
			float:left;
		}
		.logo {
			width: calc((1/12)*100%);
			float:left;
			height:60px;
		}

		.links {
			width: calc((11/12)*100%);
			float:left;
			height:60px;
		}
		.logo img {
			height:60px;
			width:80px;
		}

		.signup input[type="text"] {
			width: calc((6/12)*100%);
			border-radius: 5px 0px 0px 5px;

		}
		.signup input[type="submit"] {
			width: auto;
			border-radius: 0px 5px 5px 0px;
			margin-left: -5px;
		}

		h1 {
	    	font-size:2em;
	    	font-weight:700;
	    	line-height: 125%;
	    }

	    h2 {
	    	font-size:1.5em;
	    	font-weight:400;
	    	letter-spacing: -0.02em;
	    	line-height: 125%;
	    }

	    h3 {
	    	font-size:1.25em;
	    	font-weight:600;
	    	letter-spacing: -0.02em;
	    	line-height: 150%;
	    }

	    h4 {
	    	text-transform: uppercase;
	    	font-size:1em;
	    	font-weight:600;
	    	letter-spacing: 0.25em;
	    	line-height: 150%;
	    }

	    h5 {
	    	text-transform: uppercase;
	    	font-size:1em;
	    	font-weight:400;
	    	letter-spacing: 0.25em;
	    	line-height: 150%;
	    }

	    h6 {
	    	font-size:1em;
	    	text-transform: uppercase;
	    	font-weight: 600;
	    	line-height: 150%;
	    } 	

    	blockquote {
	    	font-size:1.25em;
    	}
    
	    p {
	    	font-size:1em;
    	}

    }

    @media (min-width:690px) {

    	.l-1col {
			width: calc((12/12)*100%);
			float:left;
		}

		.signup-col {
			width: calc((12/12)*100%);
			float:left;
		}
		.signup input[type="text"] {
			width: calc((4/12)*100%);
			border-radius: 5px 0px 0px 5px;

		}

		.l-2col {
			width: calc((6/12)*100%);
			float:left;
		}

		.l-3col {
			width: calc((4/12)*100%);
			float:left;
		}

		.l-4col {
			width: calc((6/12)*100%);
			float:left;
		}
		.l-6col {
			width: calc((4/12)*100%);
			float:left;
		}
		.footer-col {
			width: calc((4/12)*100%);
			float:left;
			margin-top:20px;
			margin-bottom: 20px;
		}
		.footer-base-col {
			width: calc((6/12)*100%);
			float:left;
		}
		.footer-base-col img {
			width:24px;
			margin-left:10px;
			float:right;
		}


		.logo {
			width: calc((1/12)*100%);
			float:left;
			height:80px;
		}

		.links {
			width: calc((11/12)*100%);
			float:left;
			height:80px;
		}
		.logo img {
		height:80px;
		width:100px;
	}

		h1 {
	    	font-size:2.25em;
	    	font-weight:700;
	    	line-height: 125%;
	    }

	    h2 {
	    	font-size:1.5em;
	    	font-weight:400;
	    	letter-spacing: -0.02em;
	    	line-height: 125%;
	    }

	    h3 {
	    	font-size:1.25em;
	    	font-weight:600;
	    	letter-spacing: -0.02em;
	    	line-height: 150%;
	    }

	    h4 {
	    	text-transform: uppercase;
	    	font-size:1em;
	    	font-weight:600;
	    	letter-spacing: 0.25em;
	    	line-height: 150%;
	    }

	    h5 {
	    	text-transform: uppercase;
	    	font-size:1em;
	    	font-weight:400;
	    	letter-spacing: 0.25em;
	    	line-height: 150%;
	    }

	    h6 {
	    	font-size:1em;
	    	text-transform: uppercase;
	    	font-weight: 600;
	    	line-height: 150%;
	    } 	

    	blockquote {
	    	font-size:1.25em;
    	}
    
	    p {
	    	font-size:1em;
    	}


    }

    @media (min-width: 810px) {

    	.l-1col {
			width: calc((12/12)*100%);
			float:left;
		}

		.signup-col {
			width: calc((12/12)*100%);
			float:left;
		}

		.l-2col {
			width: calc((6/12)*100%);
			float:left;
		}

		.l-3col {
			width: calc((4/12)*100%);
			float:left;
		}

		.l-4col {
			width: calc((3/12)*100%);
			float:left;
		}
		.l-6col {
			width: calc((4/12)*100%);
			float:left;
		}
		.footer-col {
			width: calc((4/12)*100%);
			float:left;
		}
		.footer-base-col {
			width: calc((6/12)*100%);
			float:left;
		}

		.footer-base-col img {
			width:18px;
			margin-left:10px;
			float:right;
		}

		.logo {
			width: calc((1/12)*100%);
			float:left;
		}

		.links {
			width: calc((11/12)*100%);
			float:left;
		}
    
	    h1 {
	    	font-size:2.5em;
	    }

	    h2 {	
    		font-size:2em;
    	}

    	h3 {
	    	font-size:1.25em;
	    	font-weight:600;
	    	letter-spacing: -0.02em;
	    	line-height: 150%;
	    }

	    h4 {
	    	text-transform: uppercase;
	    	font-size:1em;
	    	font-weight:600;
	    	letter-spacing: 0.25em;
	    	line-height: 150%;
	    }

	    h5 {
	    	text-transform: uppercase;
	    	font-size:1em;
	    	font-weight:400;
	    	letter-spacing: 0.25em;
	    	line-height: 150%;
	    }

	    h6 {
	    	font-size:1em;
	    	text-transform: uppercase;
	    	font-weight: 600;
	    	line-height: 150%;
	    } 	

    	blockquote {
	    	font-size:1.25em;
    	}
    
	    p {
	    	font-size:1em;
    	}

    }

    @media (min-width: 970px) {

    	.l-1col {
			width: calc((12/12)*100%);
			float:left;
		}

		.signup-col {
			width: calc((12/12)*100%);
			float:left;
		}


		.l-2col {
			width: calc((6/12)*100%);
			float:left;
		}

		.l-3col {
			width: calc((4/12)*100%);
			float:left;
		}

		.l-4col {
			width: calc((3/12)*100%);
			float:left;
		}
		.l-6col {
			width: calc((2/12)*100%);
			float:left;
		}
		.footer-col {
			width: calc((2/12)*100%);
			float:left;
		}
		.footer-base-col {
			width: calc((6/12)*100%);
			float:left;
		}
		.logo {
			width: calc((1/12)*100%);
			float:left;
		}

		.links {
			width: calc((11/12)*100%);
			float:left;
		}
    
	    h1 {
	    	font-size:2.75em;
	    }

	    h2 {	
    		font-size:2em;
    	}

    	h3 {
	    	font-size:1.25em;
	    	font-weight:600;
	    	letter-spacing: -0.02em;
	    	line-height: 150%;
	    }

	    h4 {
	    	text-transform: uppercase;
	    	font-size:1em;
	    	font-weight:600;
	    	letter-spacing: 0.25em;
	    	line-height: 150%;
	    }

	    h5 {
	    	text-transform: uppercase;
	    	font-size:1em;
	    	font-weight:400;
	    	letter-spacing: 0.25em;
	    	line-height: 150%;
	    }

	    h6 {
	    	font-size:1em;
	    	text-transform: uppercase;
	    	font-weight: 600;
	    	line-height: 150%;
	    } 	

    	blockquote {
	    	font-size:1.25em;
    	}
    
	    p {
	    	font-size:1em;
    	}

    }

    @media (min-width: 1140px) {

    	.l-1col {
			width: calc((12/12)*100%);
			float:left;
		}

		.signup-col {
			width: calc((12/12)*100%);
			float:left;
		}

		.l-2col {
			width: calc((6/12)*100%);
			float:left;
		}

		.l-3col {
			width: calc((4/12)*100%);
			float:left;
		}

		.l-4col {
			width: calc((3/12)*100%);
			float:left;
		}
		.l-6col {
			width: calc((2/12)*100%);
			float:left;
		}
		.footer-col {
			width: calc((2/12)*100%);
			float:left;
			margin-top:40px;
			margin-bottom: 40px;
		}
		.footer-base-col {
			width: calc((6/12)*100%);
			float:left;
		}
		.logo {
			width: calc((1/12)*100%);
			float:left;
		}

		.links {
			width: calc((11/12)*100%);
			float:left;
		}
    	h1 {
    	font-size:3em;

	    }

	    h2 {
	    	font-size:2.5em;

	    }

	    h3 {
	    	font-size:1.5em;

	    }

	    h4 {
	    	font-size:1em;
	    }

	    h5 {
	    	font-size:1em;
	   
	    }

	    h6 {
	    	font-size:1em;
	 
	    } 	

	    blockquote {
	    	font-size:1.5em;
	
	    }

	    p {
	    	font-size:1em;

	    }

    }


    /*Menu*/

	/*Display the dropdown on hover*/
	ul li a:hover + .hidden, .hidden:hover {
	  display: block;
	}
	/*Style 'show menu' label button and hide it by default*/
	.show-menu {
	  text-decoration: none;
	  color: var(--white);
	  background: ;
	  text-align: center;
	  display: none;
	  cursor: pointer;
	}

	/*Hide checkbox*/
	input[type=checkbox]{
	    display: none;
	}
	/*Show menu when invisible checkbox is checked*/
	input[type=checkbox]:checked ~ #menu{
	  display: block;
	  padding: 0;
	}
	/*Responsive Menu*/
	@media screen and (max-width : 810px) and (orientation: portrait) {

	  input[type=checkbox]:checked ~ #menu {
	    display: block;
	    background:var(--blue);
	    width: 100%;
	    height: 100%;
	    overflow: hidden ;
	    position: absolute;
	    top:0;
	    left:0;
	    margin:0;
	    padding: 0;
	    padding-bottom:0px;
	    margin-top:80px;
	  }

	  .links {
	    text-align: center;
	    margin:0 auto;
	  }

	  .links ul li {
	       margin:0;
	       left:0;
	       display:inline-block;
	      padding-top:20px;
	      padding-bottom:20px;
	      	  padding-left:0px;
	  }

	  .links ul li a {
	    font-size:1.25em;
	    font-weight: 300;
	    color: var(--white);
	    text-decoration: none;
	    padding:0;
	    margin:0;
	  }

	  .links ul li a:hover {
	    border-bottom:2px solid var(--green);
	    color: var(--green);
	    padding-bottom:10px;
	  }

	  .links input[type="submit"] {
	    display: inline;
	    font-size:1em;
	    font-family: 'Work Sans', sans-serif;
	    font-weight: 300;
	    letter-spacing: 0.02em;
	    color: var(--white);
	    border:2px solid var(--green);
	    background:none;
	    appearance: none;
	    box-shadow: none;
	    border-radius: 5px;
	    padding:10px;
	  }

	  .links ul {
	    display: none;
	  }



	  /*Make all menu links full width*/

	  ul li, li a {
	    width: 100%;

	  }
	  /*Display 'show menu' link*/

	  .show-menu {
	    display:block;
	    width:36px;
	    float: right;
	    padding: 22px 0;

	  }
	}


	@media screen and (max-width : 810px) and (orientation: landscape) {

	  input[type=checkbox]:checked ~ #menu {
	    display: block;
	    background:var(--blue);
	    width: 100%;
	    height: auto;
	    overflow: ;
	    position: absolute;
	    top:0;
	    left:0;
	    margin:0;
	    padding: 0;
	    padding-bottom:0px;
	    margin-top:80px;
	  }

	  .links {
	    text-align: center;
	    margin:0 auto;
	  }

	  .links ul li {
	       margin:0;
	       left:0;
	       display:inline-block;
	      padding-top:10px;
	      padding-bottom:10px;
	      	  padding-left:0px;
	  }

	  .links ul li a {
	    font-size:1em;
	    font-weight: 300;
	    color: var(--white);
	    text-decoration: none;
	    padding:0;
	    margin:0;
	  }

	  .links ul li a:hover {
	    border-bottom:2px solid var(--green);
	    color: var(--green);
	    padding-bottom:10px;
	  }

	  .links input[type="submit"] {
	    display: inline;
	    font-size:1em;
	    font-family: 'Work Sans', sans-serif;
	    font-weight: 300;
	    letter-spacing: 0.02em;
	    color: var(--white);
	    border:2px solid var(--green);
	    background:none;
	    appearance: none;
	    box-shadow: none;
	    border-radius: 5px;
	    padding:10px;
	  }

	  .links ul {
	    display: none;
	  }



	  /*Make all menu links full width*/

	  ul li, li a {
	    width: 100%;

	  }
	  /*Display 'show menu' link*/

	  .show-menu {
	    display:block;
	    width:36px;
	    float: right;
	    padding: 22px 0;

	  }
	}

	@media screen and (max-width : 689px) and (orientation: portrait) {

	.show-menu {
	    display:block;
	    width:36px;
	    float: right;
	    padding: 12px 0;

	  }

	  input[type=checkbox]:checked ~ #menu {
	    display: block;
	    background:var(--blue);
	    width: 100%;
	    height: 100%;
	    overflow: hidden ;
	    position: absolute;
	    top:0;
	    left:0;
	    margin:0;
	    padding: 0;
	    margin-top:60px;
	  }

	}


	@media screen and (max-width : 689px) and (orientation: landscape) {

	.show-menu {
	    display:block;
	    width:36px;
	    float: right;
	    padding: 12px 0;

	  }

	  input[type=checkbox]:checked ~ #menu {
	    display: block;
	    background:var(--blue);
	    width: 100%;
	    height: auto;
	    overflow:  ;
	    position: absolute;
	    top:0;
	    left:0;
	    margin:0;
	    padding: 0;
	    margin-top:60px;
	  }

	}